{% extends 'base.html.twig' %}

{% block title %}Hello NumberGeneratorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div class="form-group">
      <label for="">Try to guess thhe number</label>
      <input type="number"
        class="form-control" name="" id="yourNumber" aria-describedby="helpId" placeholder="">
    </div>
    <button class="btn" onclick="generateNumber()">
            Try
    </button>
</div>
<script>

    var random = Math.floor(Math.random() * 100 + 1);   

    function generateNumber() {
        var yourNumber = document.getElementById("yourNumber").value;

        if(yourNumber > random) {
            alert("numarul introdus este prea mare");
        } else if(yourNumber < random) {
            alert("numarul introdus este prea mic");
        } else {
            alert("ai ghicit numarul");
        }
    }

</script>
{% endblock %}
